:443 {
    # 도커 볼륨으로 연결된 인증서 경로 지정
    tls /data/localhost.crt /data/localhost.key

    # 내부의 app 서비스 5000번 포트로 전달
    reverse_proxy app:5000
}

# 80번(HTTP)으로 들어오는 접속을 자동으로 443(HTTPS)으로 전달
:80 {
    redir https://mystrawberry.cloud:8080
}